<div class="jumbotron jumbotron-fluid animated fadeIn fast">

    <div class="container">
        <h1 class="display-3">Administracion De Conjuntos</h1>
        <h2>Nosotros</h2>
        <h3>Mision</h3>
        <p class="lead"> Conformar un espacio de vivienda organizado y en donde se busca propiciar espacios de comunicación, sana convivencia y en donde reine la armonía, la paz, el respeto y la equidad para todos los propietarios siguiendo los lineamientos establecidos
            en nuestro reglamento con el fin de lograr un desarrollo humano sostenible.</p>
        <h3> Visión </h3>
        <p class="lead">
            Nos proyectamos a ser una copropiedad reconocida por su belleza, armonía con la naturaleza, perfecta convivencia e integración entre sus habitantes con valores y principios orientados a lo que es justo para todos, fortalecidos en la confianza y el trabajo
            en equipo que fomente los derechos fundamentales de las personas a través de políticas que desarrollen valores de lealtad, responsabilidad, honestidad, constancia, ambiente de convivencia con calor humano, amistad y respeto</p>
    </div>

</div>