<h1 class="display-3">Conjuntos<small> <br>Servicios de Administracion a tu alcance</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
    <app-usuario-tarjeta (usuarioSeleccionado)="verUsuario( $event )" [usuario]="foo" [index]="i" *ngFor="let foo of usuarios; let i = index"></app-usuario-tarjeta>
</div>

<p p class="lead">
    Somos una nueva solución de vivienda pensando las nuevas familias que deseen adquirir su nuevo hogar por medio de los beneficios que ofrece el gobierno nacional A la Herramienta comunicaciónal para todos los miembros de nuestra comunidad.
</p>
<p class="lead">¡Construyendo la comunidad que queremos! El Equipo de Gestión - Junta de Condominio Urbanización La Rosaleda Le dan la más cordial bienvenida a nuestra Página. Visite nuestras secciones, infórmese de todo lo que estamos haciendo para mejorar su calidad
    de vida y déjenos sus comentarios. </p>
<p class="lead">Su opinión es muy importante!!! ESTA PAGINA CONSTITUYE UN ESPACIO PARA EL INTERCAMBIO DE OPINIONES ENTRE LOS VECINOS QUE HABITAMOS EN ESTA HERMOSA COMUNIDAD, QUE BUSCAN MANTENER Y PRESERVAR LOS PRINCIPIOS Y VALORES QUE NOS GARANTIZAN LA LIBERTAD SIN MENOSCABAR
    EL DERECHO DE LOS DEMÁS..</p>

<p class="lead"> Es su mejor Opcion!!!!!!!!</p>
